body{
    background-color: #0d1117;
}

h2{
    text-align: center;
    color: #f0f6fc;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.card{
    background-color: #151b23;
    border: #2a3139 solid 1px;
    width: 300px;
}

label{
    color: #f0f6fc;
    margin-left: 3px;
}

input[type="text"]{
    width: 100%;
    padding: 4px;
    margin: 5px 0 22px 0;
    border: #2a3139 solid 1px;
    background: #0d1117;
    color: #f0f6fc;
}

input[type="password"]{
    width: 100%;
    padding: 4px;
    margin: 5px 0 22px 0;
    border: #2a3139 solid 1px;
    background: #0d1117;
    color: #f0f6fc;
}

button[type="submit"]{
    background-color: #238636;
    color: #f0f6fc;
    padding: 5px 22px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    width: 100%;
}

h5{
    color: #f0f6fc;
    font-size: 14px;
    font-weight: 400;
}

a{
    font-size: 14px;
    font-weight: 400;
}